<%#is_active  = %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark header-area  sticky">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%if current_user.present?%>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <%if current_user.has_role? :recruiter%>
          <li class="nav-item rounded">
            <a class="nav-link <%= current_class?(new_recruiters_job_path) %>" aria-current="page" href="<%=new_recruiters_job_path%>"><i class="bi bi-house-fill me-2"></i>Post Job</a>
          </li>
          <li class="nav-item dropdown rounded">
            <a class="nav-link <%= current_class?(candidates_recruiters_jobs_path) %>" href="<%=candidates_recruiters_jobs_path%>"><i class="bi bi-people-fill me-2"></i>Candidates</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link <%= current_class?(recruiters_jobs_url) %>" href="<%=recruiters_jobs_url%>"><i class="bi bi-telephone-fill me-2"></i>Jobs</a>
          </li>
          <%elsif current_user.has_role? :applicant%>
          <li class="nav-item dropdown rounded">
            <a class="nav-link <%= current_class?(my_applications_applicants_dashboard_index_path) %>" href="<%=my_applications_applicants_dashboard_index_path%>"><i class="bi bi-people-fill me-2"></i>My Applications </a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link <%= current_class?(job_applicants_dashboard_index_url) %>" href="<%=job_applicants_dashboard_index_url%>"><i class="bi bi-telephone-fill me-2"></i>Jobs</a>
          </li>
          <%end%>
          <li class="nav-item dropdown rounded">
            <a class="nav-link dropdown-toggle <%= current_class?(my_account_recruiters_dashboard_index_path) %>" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-fill me-2"></i>Profile</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="<%= my_account_recruiters_dashboard_index_path %>">My Account</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><!-- <a class="dropdown-item" href="<>">Logout</a> -->
                  <%= link_to 'Sign out', destroy_user_session_path ,:method => :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <%else%>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill me-2"></i>Home</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="#"><i class="bi bi-people-fill me-2"></i>About</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link" href="#"><i class="bi bi-telephone-fill me-2"></i>Contact</a>
          </li>
          
          <li class="nav-item rounded">
            <a class="nav-link modal-view button" href="#" data-toggle="modal" data-target="#register"><i class="bi bi-person-fill me-2"></i>Register</a>
          </li>
          <li class="nav-item rounded">
            <a class="nav-link modal-view button" href="#" data-toggle="modal" data-target="#productModal"><i class="bi bi-box-arrow-in-right me-2"></i>Login</a>
          </li>
        </ul>
      </div>

    <%end%>
  </div>
</nav>
      <%=   render partial: 'layouts/frontend/registeration_form'%>
      <%=   render partial: 'layouts/frontend/login_form'%>
