<div class="row">
  <%@part_time_jobs.each_with_index do |job, index| %>
    <div class="col-md-6">
        <div class="single-job-post">
             <div class="img-icon">
                <img src="images/candidates/1.jpg" alt="">
            </div>
            <div class="address">
                <h6><%= job.applicant.name.titleize %></h6>
                <p><span><%= job.job&.title&.titleize %></span></p>
                <p>Location : <%= job.job&.locality&.titleize %></p>
            </div>
            <div class="button-box">
              <%if job.resume.exists?%>
                <%= link_to "View Resume",    job.resume.url(:original, false), class:"button button-black" %>
              <%else%>
              <a href="#"class="button button-black">No resume</a>
               
               <%end%>
              <!-- <a href="<%#=job.resume.url(:original, false)%>" download="data" class="button button-black">VIEW RESUME</a> -->
            </div>
            <div class="button-box">
               <%= form_for :user, :url => chat_with_candidate_recruiters_dashboard_index_path,  :html => { :method => 'GET' } do |f| %>
                <%= hidden_field_tag "user_id", current_user.id%>
                <%= hidden_field_tag "receiver_id", job.applicant.id%>
                <%= f.submit "Chat"%>
            <% end %>
            </div>

        </div>  

    </div>
    <%end%>
    <div class="col-md-12">
        <div class="loadmorebtn">
            <a href="#" class="button">Load More</a>
        </div>
    </div>  
</div>