<section class="featured-job-area feature-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Recent Applications</span>
                            <h2>Featured Applicants</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        <%@jobs.each_with_index do |job, index| %>
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <%=link_to( image_pack_tag('media/img/company.png', :class => 'company_img', alt: "company-image"),  root_path) %>
                                </div>
                                <div class="job-tittle">
                                    <a href="job_details.html"><h4><%= job.applicant.name.titleize %></h4></a>
                                    <ul>
                                        <li><%= job.job&.title&.titleize %></li>
                                        <li><%= job.job&.job_type&.titleize %></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                              <%if job.resume.exists?%>
                                <!-- <a href="job_details.html"><%= job.job&.job_type&.titleize %></a> -->
                                <%= link_to "View Resume",    job.resume.url(:original, false) %>
                                <%= link_to "View Application", view_application_recruiters_jobs_url %>
                              <%else%>
                                <a href="#"class="button button-black">No resume</a>  
                               <%end%>
                            </div>
                        </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </section>
<div class="canditates-area ptb-130 ptb-sm-60">
                <div class="container">
                    <div class="all-job-post">
                        <!-- Nav tabs -->
                        <div class="post-tab nav">

                            <a class="nav-link" data-toggle="tab" href="#">Applicant list...</a>
                            <!-- <a class="nav-link  active" data-toggle="tab" href="#part_time">PART TIME</a> -->
                            <!-- <a class="nav-link" data-toggle="tab" href="#full_time">FULL TIME</a> -->
                        </div>                            
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="recent_job">
                                <div class="row">
                                  <%@jobs.each_with_index do |job, index| %>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <img src="images/candidates/1.jpg" alt="">
                                            </div>
                                            <div class="address">
                                                <h6><%= job.applicant.name.titleize %></h6>
                                                <p><span><%= job.job&.title&.titleize %></span></p>
                                                <p>Location : <%= job.job&.locality&.titleize %></p>
                                            </div>
                                            <div class="button-box">
                                              <%if job.resume.exists?%>
                                                <%= link_to "View Resume",    job.resume.url(:original, false), class:"button button-black" %>
                                              <%else%>
                                              <a href="#"class="button button-black">No resume</a>
                                               
                                               <%end%>
                                              <!-- <a href="<%#=job.resume.url(:original, false)%>" download="data" class="button button-black">VIEW RESUME</a> -->
                                            </div>
                                            <div class="button-box">
                                               <%= form_for :user, :url => chat_with_candidate_recruiters_dashboard_index_path,  :html => { :method => 'GET' } do |f| %>
                                                <%= hidden_field_tag "user_id", current_user.id%>
                                                <%= hidden_field_tag "receiver_id", job.applicant.id%>
                                                <%= f.submit "Chat"%>
                                            <% end %>
                                            </div>

                                        </div>  

                                    </div>
                                    <%end%>
                                    <div class="pagination-outer find_teacher_class">
                                      <nav aria-label="Page navigation">
                                        <%#= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
                                      </nav>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="loadmorebtn">
                                            <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            <div class="tab-pane" id="part_time">
                                <div class="row">
                                    <%#=render partial: 'part_time' %>
                                </div>
                                <div class="row">
                                    <%#=render partial: 'full_time' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>