<section class="featured-job-area feature-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Recent Applications</span>
                            <h2>Featured Applicants</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        <%@jobs.each_with_index do |job, index| %>
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <%=link_to( image_pack_tag('media/img/company.png', :class => 'company_img', alt: "company-image"),  root_path) %>
                                </div>
                                <div class="job-tittle">
                                    <a href="job_details.html"><h4><%= job.applicant.name.titleize %></h4></a>
                                    <ul>
                                        <li><%= job.job&.title&.titleize %></li>
                                        <li><%= job.job&.job_type&.titleize %></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                              <%if job.resume.exists?%>
                                <!-- <a href="job_details.html"><%= job.job&.job_type&.titleize %></a> -->
                                <%= link_to "View Resume",    job.resume.url(:original, false) %>
                                <%= link_to "View Application", view_application_recruiters_jobs_url %>
                              <%else%>
                                <a href="#"class="button button-black">No resume</a>  
                               <%end%>
                            </div>
                        </div>
                        <%end%>
                    </div>
                </div>
            </div>
        </section>
