<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="contact-title">Edit job</h2>
      </div>
      <div class="col-lg-8">
        <%= form_for @job, url: recruiters_job_path,  method: :patch, class:"form-contact contact_form", id: "contactForm", novalidate: "novalidate" do |f| %>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= f.text_field :company_name ,  placeholder: "Enter company name", class: "form-control valid" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.text_field :title ,  placeholder: "Enter job title", class: "form-control valid"%>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.select :job_type, options_for_select(Job.job_types.map {|key, value| [key.titleize, Job.job_types.key(value)]},selected: @job.job_type), { include_blank: 'Select Job Type' }%>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <%= f.text_field :category ,  placeholder: "Enter job category", class: "form-control valid"%>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <%= f.text_field :closing_date ,  placeholder: "yyyy-mm-dd"%>
              <%= f.text_field :closing_date ,  placeholder: "yyyy-mm-dd" , class: "form-control valid"%>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <button type="submit" class="button button-contactForm boxed-btn">Send</button>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</section>