<div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-text">
          <h2 class="text-center">Edit Job</h2>
          <div class="breadcrumb-bar">
            <ul class="breadcrumb text-center m-0">
              <li><a href="<%=recruiters_dashboard_index_path%>">Home</a></li>
              <li>Edit your Job</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="single-job-post-area pt-130 pt-sm-60 pb-70 pb-sm-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mr-auto ml-auto">
        <%= form_for @job, url: recruiters_job_path,  method: :patch do |f| %>
          <div class="single-job-content">
            <div class="title"><span>Job Details</span></div>
            <div class="single-job-form">
              <div class="single-info pb-14">
                <%= f.label :company_name, class: "uppercase pull-left m-0"%>
                <!-- <label for="title" class="uppercase pull-left m-0">Job Title</label> -->
                <div class="form-box fix">
                  <%= f.text_field :company_name ,  placeholder: "Enter company name"%>
                  <!-- <input type="text" id="title" name="title" placeholder="Enter your job title"> -->
                </div>
              </div>
              <div class="single-info pb-14">
                <%= f.label :title, class: "uppercase pull-left m-0"%>
                <!-- <label for="desc" class="uppercase pull-left m-0">Job Description</label> -->
                <div class="form-box fix">
                  <%= f.text_field :title ,  placeholder: "Enter job title"%>
                  <!-- <input type="text" id="desc" name="desc" placeholder="Enter your job description"> -->

                </div>
              </div>
              <div class="single-info pb-14">
                <%= f.label :job_type, class: "uppercase pull-left m-0"%>
                <!-- <label for="desc" class="uppercase pull-left m-0">Job Description</label> -->
                <div class="form-box fix">
                  <%#= f.text_field :job_type ,  placeholder: "Enter job type"%>
                  <%= f.select :job_type, options_for_select(Job.job_types.map {|key, value| [key.titleize, Job.job_types.key(value)]},selected: @job.job_type), { include_blank: 'Select Job Type' }%>
                  <!-- <input type="text" id="desc" name="desc" placeholder="Enter your job description"> -->

                </div>
              </div>
              <div class="single-info pb-14">
                <%= f.label :category, class: "uppercase pull-left m-0"%>
                <!-- <label for="desc" class="uppercase pull-left m-0">Job Description</label> -->
                <div class="form-box fix">
                  <%= f.text_field :category ,  placeholder: "Enter job category"%>
                  <!-- <input type="text" id="desc" name="desc" placeholder="Enter your job description"> -->

                </div>
              </div>
              <div class="single-info pb-14">
                <%= f.label :closing_date, class: "uppercase pull-left m-0"%>
                <!-- <label for="desc" class="uppercase pull-left m-0">Job Description</label> -->
                <div class="form-box fix">
                  <%= f.text_field :closing_date ,  placeholder: "yyyy-mm-dd"%>
                  <!-- <input type="text" id="desc" name="desc" placeholder="Enter your job description"> -->

                </div>
              </div>
            </div>
            <div class="ml-160 mt-38 select">
              <%= f.button  "Update" %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>