

After login page for applicants

<%= link_to 'Sign out', destroy_user_session_path ,:method => :delete %>

<%#= link_to 'My job', new_recruiters_job_path %>

<%= link_to 'List job', job_applicants_dashboard_index_path %>

<%= link_to 'Favorite jobs', my_favourite_jobs_applicants_jobs_path %>

<div class="job-post-area pb-100 pb-sm-35">
                <div class="container">
                    <!-- Section Title Start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-center ">
                                <h2>All Job</h2>
                                <p>Lorem ipsum dolor sit amet, contetur adipisil elit sed do</p>
                            </div>
                        </div>
                    </div>
                    <!-- Section Title End -->
                    <div class="all-job-post">
                        <!-- Nav tabs -->
                        <div class="post-tab nav">
                            <a class="nav-link active show" data-toggle="tab" href="#featured">FEATURED JOBS</a>
                            <a class="nav-link" data-toggle="tab" href="#recent_job">RECENT JOBS</a>
                            <a class="nav-link" data-toggle="tab" href="#featured">PART TIME</a>
                            <a class="nav-link" data-toggle="tab" href="#recent_job">FULL TIME</a>
                        </div>                            
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active show" id="featured">
                                <div class="row">
                                	<%@jobs.each_with_index do |job, index| %>
                                	<%#byebug if index  == 0%>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6><%= job.company_name.titleize %></h6>
                                                <p><span><%= job.title.titleize %></span></p>
                                                <p>Location : <%= job.locality.titleize %></p>
                                            </div>
                                            <div class="button-box"><a href="<%= applicants_job_path(job.id)%>" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <%end%>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Hiring Web designer &amp; Developer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Designer</p>
                                                <p>Date : 12.06.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>SEO Analiyst &amp; Reviewer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Designer</p>
                                                <p>Date : 11.02.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Content Writer and Speaker</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Education</p>
                                                <p>Date : 14.09.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Hiring Online English Teachers</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Designer</p>
                                                <p>Date : 14.09.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Social Media Expert</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Media</p>
                                                <p>Date : 14.09.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="recent_job">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Font-End Develper</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Web</p>
                                                <p>Date : 18.05.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Senior Software Engineer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Engineering</p>
                                                <p>Date : 11.05.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Platform/Backend Engineer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Engineering</p>
                                                <p>Date : 09.02.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Social media Specialist</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Media</p>
                                                <p>Date : 01.10.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Platform/Backend Engineer</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Engineering</p>
                                                <p>Date : 09.02.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                             <div class="img-icon">
                                                <%#= image_tag 'company-logo/1.png', alt: 'icon' %>
                                            </div>
                                            <div class="address">
                                                <h6>Hiring Online English Teachers</h6>
                                                <p>Publisher : Company Name</p>
                                                <p>In : Designer</p>
                                                <p>Date : 14.09.2018</p>
                                                <p>Location : Dhaka</p>
                                            </div>
                                            <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                            
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          <div class="woring-area2 pt-130 pb-100 pt-sm-60 pb-sm-30">
                    <div class="container">
                        <!-- Section Title Start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title text-center ">
                                    <h2>How It Works</h2>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit sed do</p>
                                </div>
                            </div>
                        </div>
                        <!-- Section Title End -->
                        <div class="row work-shap work-shop2">
                            <div class="col-md-4">
                                <div class="work-item">
                                    <div class="img-icon">
                                        <img src="images/icons/wrk1.png" alt="">
                                        <span>1</span>
                                    </div>
                                    <h5>Create An Account</h5>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua.</p>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="work-item">
                                    <div class="img-icon">
                                        <img src="images/icons/wrk2.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <h5>Search Desired Job</h5>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua.</p>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="work-item">
                                    <div class="img-icon">
                                        <img src="images/icons/wrk3.png" alt="">
                                        <span>3</span>
                                    </div>
                                    <h5>Send Your Resume</h5>
                                    <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua.</p>
                                </div> 
                            </div>
                        </div>                        
                    </div>
                </div>