


<!DOCTYPE html>
<html lang="en">
<head>
  <title>JobBoard</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
	<body>
		    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <!-- <img src="assets/img/logo/logo.png" alt=""> -->
                    <%=image_pack_tag('media/img/company.png')%>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

	  <!-- <div class="main-wrapper"> -->
	    <!-- header start -->
	    <%= render "layouts/frontend/header" %>
	    <!-- header end -->
	    <%#= render "layouts/elements/frontend/flash" %>
	    <!-- <div class="vh-100 d-flex justify-content-center align-items-center"> -->
			  <!-- <h2>Main Content</h2> -->
	      <%= render 'layouts/shared/message' %>

          <%= yield %>
			<!-- </div> -->
	  <!-- </div> -->
	  
	  	<!-- <p class="text-center p-4 m-0">Footer Content</p> -->
	    <%= render "layouts/frontend/footer" %>
		
	    <!-- footer end -->
	</body>
	    <%#= javascript_pack_tag 'jquery-min.js' %>

</html>
