


<!DOCTYPE html>
<html lang="en">
<head>
  <title>JobBoard</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %> 
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
	  
  
</head>
	<body>
	  <!-- <div class="main-wrapper"> -->
	    <!-- header start -->
	    <%= render "layouts/frontend/header" %>
	    <!-- header end -->
	    <%#= render "layouts/elements/frontend/flash" %>
	    <!-- <div class="vh-100 d-flex justify-content-center align-items-center"> -->
			  <!-- <h2>Main Content</h2> -->
	      <%= yield %>
			<!-- </div> -->
	  <!-- </div> -->
	  
	  	<!-- <p class="text-center p-4 m-0">Footer Content</p> -->
	    <%= render "layouts/frontend/footer" %>
		
	    <!-- footer end -->
	</body>
	    <%#= javascript_pack_tag 'jquery-min.js' %>

</html>
